@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  max-width: 1200px;
  height: 100%;
  max-height: 250vh;
  margin: 0 auto;
  /*#111138    #030328*/
  background-color: #111138 ;
  color: #fff;
  max-width: 100%;
  /*padding: 4px;*/
  text-align: center;
}

.App-logo {
  pointer-events: none;
  animation: App-logo-spin infinite 5s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {

}*/

/*.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/