@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 100%;
  margin: 0 auto;
  background-color: #111138;
  color: #fff;
  max-width: 100%;
  text-align: center;
}

.App-logo {
  pointer-events: none;
  animation: App-logo-spin infinite 5s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
