html {
  /*background-color: white;*/
  margin: 0;
  padding: 8px;

  height: 100%;
  
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color:  #111138 ;
  /*padding: 0 2%;
  margin: 0 2%;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 25px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input{
  color: #000
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #111138;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
 /* border: 3px solid orange;*/  /* creates padding around scroll thumb */
}